
@font-face {
    font-family: 'Harlow-Solid-Italic';
    src:url('../fonts/Harlow-Solid-Italic.ttf.woff') format('woff'),
        url('../fonts/Harlow-Solid-Italic.ttf.svg#Harlow-Solid-Italic') format('svg'),
        url('../fonts/Harlow-Solid-Italic.ttf.eot'),
        url('../fonts/Harlow-Solid-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/*
h1 {
font-family: 'Harlow-Solid-Italic';
}
*/